.work-logo-container {
    display: flex;
    justify-content: left;
    padding-top: 25px;
}

.work-logo {
    display: flex;
    position: fixed;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    top: 4vh;
    z-index: 1000;
}

.work-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-top: 120px;
}

.work-subtitle {
	margin-bottom: 25px !important;
    width: 100%;
}

/* Custom styles for the vertical timeline */
.vertical-timeline-element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);
    background-color: white; /* To override the blue color */
}

.vertical-timeline-element-content {
	background: var(--color-gray-800);
	color: white;
	cursor: pointer;
}

.vertical-timeline-element-content:hover {
	background: var(--color-gray-700);
}

.custom-underline {
    border-bottom: 2px solid var(--link-color); /* Choose your color */
    display: inline-block; /* To make sure the border/underline only takes the width of the content */
	margin-bottom: 0px;
}

.work-page-header a {
	color: white;
}

.work-page-header-text {
	color: white;
}

.work-page-header-text a{
	color: white;
}

/* Modal Overlay */
.work-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal */
.work-modal {
    background: var(--color-gray-900);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    color: white;
}

.work-modal-inner {
    position: relative;
}

/* Close Button */
.work-modal-close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px; /* Set width */
	height: 30px; /* Set height */
	background-color: var(--color-gray-800);
	border-radius: 50%; /* Adjusted to make it a circle */
	border: none;
	font-size: 15px;
	line-height: 20px; /* Helps to center the text vertically */
	text-align: center; /* Centers the text horizontally */
	cursor: pointer;
	color: white;
}



/* Modal Content */
.work-modal-content {
    display: flex;
    flex-direction: row;
}

.work-modal-image {
    width: 30%;
    border-radius: 8px;
}

.work-modal-right-side {
    margin-left: 20px;
}

.work-page-skills {
	margin-top: 10px;
}
/* Responsive styling */
@media only screen and (max-width: 1024px) {
    .work-title {
        width: 100% !important;
    }

    .work-subtitle {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1170px) {
    .react-vertical-timeline-element-content {
        margin-left: 60px;
    }

    .react-vertical-timeline-element-icon {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 800px) {
    .react-vertical-timeline-element-content {
        margin-left: 0;
    }

    .react-vertical-timeline-element-icon {
        display: none;
    }
}
